@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --yellow: #FFF011;
  --dark: #031533;
  --white: #E9EAED;

  --tooltip-text-color: #E9EAED;
  --tooltip-background-color: #031533;
  --tooltip-margin: 20px;
  --tooltip-arrow-size: 6px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
